## Code 03-01

In [1]:
katok = []        # 빈 배열

katok.append(None)
katok[0] = '다현'
katok.append(None)
katok[1] = '정연'

In [2]:
def add_data(friend):           # 새 친구 추가 함수
    katok.append(None)
    kLen = len(katok)
    katok[kLen-1] = friend

In [5]:
katok = []
add_data('다현')
add_data('정연')
add_data('쯔위')
add_data('사나')
add_data('지효')
print(katok)

['다현', '정연', '쯔위', '사나', '지효']

## Code 03-02

In [13]:
katok = ['다현', '정연', '쯔위', '사나', '지효']

In [14]:
def insert_data(position, friend):          # 삽입 함수
    katok.append(None)
    kLen = len(katok)
    for i in range(kLen-1, position, -1):
        katok[i] = katok[i-1]
        katok[i-1] = None
    katok[position] = friend

In [15]:
insert_data(2, '솔라')
print(katok)

['다현', '정연', '솔라', '쯔위', '사나', '지효']

In [16]:
insert_data(6, '문별')
print(katok)

['다현', '정연', '솔라', '쯔위', '사나', '지효', '문별']

## Code 03-03

In [28]:
katok = ['다현', '정연', '쯔위', '사나', '지효']

In [29]:
def delete_data(position):
    kLen = len(katok)
    katok[position] = None
    for i in range(position+1, kLen):
        katok[i-1] = katok[i]
        katok[i] = None
    del(katok[kLen-1])

In [30]:
delete_data(1)
print(katok)

['다현', '쯔위', '사나', '지효']

## Code 03-04

In [32]:
## 함수 선언부
def add_data(friend):           # 새 친구 추가 함수
    katok.append(None)
    kLen = len(katok)
    katok[kLen-1] = friend

def insert_data(position, friend):          # 삽입 함수
    katok.append(None)
    kLen = len(katok)
    for i in range(kLen-1, position, -1):
        katok[i] = katok[i-1]
        katok[i-1] = None
    katok[position] = friend

def delete_data(position):
    kLen = len(katok)
    katok[position] = None
    for i in range(position+1, kLen):
        katok[i-1] = katok[i]
        katok[i] = None
    del(katok[kLen-1])

## 전역 변수부
katok = []
select = -1         # 1추가 2삽입 3삭제 4종료

## 메인 코드부
while select != 4:
    select = int(input('1추가 2삽입 3삭제 4종료 -->'))

    if select == 1:
        friend = input('추가할 데이터 --> ')
        add_data(friend)
        print(katok)
    elif select == 2:
        position = int(input('삽입할 위치 --> '))
        friend = input('추가할 데이터 --> ')
        insert_data(position, friend)
        print(katok)
    elif select == 3:
        position = int(input('삭제할 위치 --> '))
        delete_data(position)
        print(katok)
    elif select == 4:
        print(katok)
        break
    else:
        print('다시 확인!')
        continue

1추가 2삽입 3삭제 4종료 -->1
추가할 데이터다현
['다현']
1추가 2삽입 3삭제 4종료 -->1
추가할 데이터정연
['다현', '정연']
1추가 2삽입 3삭제 4종료 -->1
추가할 데이터쯔위
['다현', '정연', '쯔위']
1추가 2삽입 3삭제 4종료 -->2
삽입할 위치1
추가할 데이터하나
['다현', '하나', '정연', '쯔위']
1추가 2삽입 3삭제 4종료 -->2
삽입할 위치0
추가할 데이터문별
['문별', '다현', '하나', '정연', '쯔위']
1추가 2삽입 3삭제 4종료 -->3
삭제할 위치3
['문별', '다현', '하나', '쯔위']
1추가 2삽입 3삭제 4종료 -->4
['문별', '다현', '하나', '쯔위']