In [4]:
## 함수
def openBox():
    global count
    print('상자 열기~')
    count -= 1
    if count == 0:
        print('** 선물 넣기 **')
        return
    openBox()
    print('~~ 상자 닫기')

## 전역
count = 5

## 메인
openBox()

상자 열기~
상자 열기~
상자 열기~
상자 열기~
상자 열기~
** 선물 넣기 **
~~ 상자 닫기
~~ 상자 닫기
~~ 상자 닫기
~~ 상자 닫기

## Code 10-03

In [5]:
## 함수
def addNumber(num):
    if num <= 1:
        return 1
    return num + addNumber(num-1)

## 메인
print(addNumber(5))

15

## Code 10-05

In [6]:
def countDown(n):
    if n == 0:
        print('발사!')
    else:
        print(n)
        countDown(n-1)

countDown(5)

5
4
3
2
1
발사!

## Code 10-06

In [7]:
def printStar(n):
    if n > 0:
        printStar(n-1)
        print('★'*n)

printStar(5)

★
★★
★★★
★★★★
★★★★★

## Code 10-07

In [8]:
def gugu(dan, num):
    print('%d X %d = %d' %(dan, num, dan*num))
    if num < 9:
        gugu(dan, num+1)

for dan in range(2, 10):
    print('## %d 단 ##' % dan)
    gugu(dan,1)

## 2 단 ##
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
## 3 단 ##
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
## 4 단 ##
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
## 5 단 ##
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
## 6 단 ##
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
## 7 단 ##
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
## 8 단 ##
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
## 9 단 ##
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81